
# DB
DB_PASSWORD= "dbPassword"
DB_NAME= "dbName"
DB_HOST= "db"
DB_PORT= "5432"
DB_USERNAME= "postgres"

# BACKEND
PORT=3000
HOST_API=http://localhost:3000/api
JWT_SECRET= "JWTSecret" # min 32 chars recommended, e.g. openssl rand -hex 32

# SEED
SEED_ADMIN_EMAIL=admin@errormonitor.dev
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_NAME=Admin User