<div class="table-container overflow-hidden rounded-xl shadow-sm">
  @if (dataSource().isLoading()) {
    <div class="flex items-center gap-2 px-6 py-2 bg-[var(--background-secondary)] text-sm text-[var(--ring)] animate-pulse">
      <span>{{ dataSource().statusMessage() }}</span>
    </div>
  }
  <!-- <pre class="text-xs bg-black text-green-400 p-2 overflow-auto max-h-40">
    DEBUG: {{ dataSource().users() | json }}
  </pre> -->
  <p-table
    [value]="dataSource().isLoading() ? columns().map(() => ({})) : dataSource().users()"
    [columns]="columns()"
    [unstyled]="true"
    [pt]="tableStyles">

    <ng-template #header let-columns>
      <tr class="table-header">
        @for (col of columns; track col) {
          <th class="px-6 py-4 font-semibold">{{ col | titlecase }}</th>
        }
      </tr>
    </ng-template>

    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-4">{{ title() | titlecase }}</h5>
        <input
          class="border border-[var(--border)] rounded-2xl p-2 m-3"
          pInputText
          type="text"
          (input)="search($event)"
          placeholder="Search by name..." />
      </div>
    </ng-template>

    <ng-template #body let-rowData>
      <tr class="table-row group">
        @for (col of columns(); track col) {
          <td class="px-6 py-4">
            @if (dataSource().isLoading()) {
              <p-skeleton width="80%" height="1.2rem" />
            }
            @else {
              @if (col === 'actions') {
                <div class="flex items-center">
                  <button (click)="edit(rowData)" type="button" class="p-button-text p-button-sm mr-4">
                    <lucide-angular name="pencil" [size]="20" class="text-[var(--ring)]" />
                  </button>
                  <button (click)="delete(rowData)" type="button" class="p-button-text p-button-sm">
                    <lucide-angular name="trash" [size]="20" class="text-red-500" />
                  </button>
                </div>
              }
              @else if (col === 'createdAt') {
                <span class="text-[var(--text-primary)]">
                  {{ rowData[col] | date: 'dd/MM/yyyy' }}
                </span>
              }
              @else {
                <span class="text-[var(--text-primary)]" [class.font-bold]="col === 'name'">
                  {{ rowData[col] || '---' }}
                </span>
              }
            }
          </td>
        }
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td [attr.colspan]="columns().length" class="text-center py-8 text-gray-500">
          No data found.
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="0"
    [rows]="10"
    [totalRecords]="dataSource().total()"
    [showFirstLastIcon]="false"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}">
  </p-paginator>
</div>
@if (editData()) {
<app-users-form-modal [data]="editData()" (destroyModal)="editData.set(null)"/>
}
@if (deleteData()){
  <confirm-modal [data]="deleteData()" (destroyModal)="deleteData.set(null)"/>
}
